<H1>Order edit</H1>

<%= simple_form_for @order do |f| %>
  <%= f.input :number %>
  <%= f.select :customer ,options_for_select(@customer_collection_for_select, f.object.customer.id) %>
  </p>
<%= f.fields_for :order_rows do |l| %>
    <%=l.select :good ,options_for_select(@goods_collection_for_select, l.object.good.id) %>
    <%= l.input :count %>
    <%= l.input :price %>
    <% end %>
  <%= f.button :submit %>
<% end %>
</p>
<% @order.order_rows do |line| %>
<%= simple_form_for line do |l| %>
<%= l.input :good %>
<%= l.input :count %>
<%= l.input :price %>
<%= l.button :submit %>
<% end %>
<% end %>
     