<tr>
  <td><%= f.select :good_id, options_for_select(@goods_collection_for_select, f.object.good&.id || 1) %></td> 
  <td><%= f.input :count, label: false %></td> 
  <td><%= f.input :price, label: false %></td> 
  <td>
    <% if f.object.persisted? %>
      <%= f.check_box :_destroy %>
    <% else %>
      <%= link_to 'Delete', '#', class: 'remove_record' %>
    <% end %>
  </td>
</tr>