
  <%= simple_form_for current_order do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <div class="flex-container">
            <%= f.label :number, "Order number", class: "control-label col-md-4" %>
            <div class="col-md-8">
              <%= f.input :number, label: false, class: "form-control" %>
            </div>
          </div>
          <div class="flex-container">
            <%= f.label :customer, "Customer", class: "control-label col-md-4" %>
            <div class="col-md-8">
              <%= f.input :customer_id, label: false, as: :select, collection: @customer_collection_for_select, input_html: { class: 'bootstrap-select2 ' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
 <div class="form-group">
  <div class="row">
    <div class="col-md-12">
    <div class="table-responsive-sm">
      <table class="table">
        <thead>
          <tr>
            <th>Good</th>
            <th>Count</th>
            <th>Price</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody class='fields'>
            <%= f.fields_for :order_rows do |o_row| %>
              <%= render 'order_row', f: o_row  %>
            <% end %>
          
        </tbody>
      </table>
    </div>
 </div> 
   </div> 
    </div> 
    
  <div class="form-group">
    <div class="flex-container">
      <div>
        <%= link_to_add_row('Add row', f, :order_rows, class: "btn btn-default app-btn") %>
        <%= f.button :submit, value: 'Save Order', class: "btn btn-primary app-btn" %>
        <%= link_to "Back", orders_path, class: "btn btn-warning app-btn" %>
      </div>
    </div>
    </div> 
   
  
  <% end %>

