<H1> This is your orders</H2>

 <table class="table">
 <thead class="thead-dark">
  <tr>
  <th>Number</th>
  <th>Customer</th>
  <th>Date</th>
  <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <% @all_orders.each do |ord|%>
  <td><%= ord.number %></td>
  <td><%= ord.customer.name %></td>
  <td><%= ord.date %></td>
  <td>
    <%= link_to "open", order_path(ord), class: "btn btn-success" %>
    <%= link_to "edit", edit_order_path(ord),  class: "btn btn-danger" %>
  </td>
  </tr>
  <%end%>
  
  </tbody>
  </table>  
  
<div class= "flex-container">

<div>
  <%= link_to "Add new order", new_order_path,  class: "btn btn-primary" %>
  <%= link_to "Back to the root path", root_path,  class: "btn btn-warning app-btn" %>   
</div>

</div>