<H1> This is goods index</H2>
<H2>Add new</H2>
<div class= "container">
<div class= "row">  
<div class= "col-sm-1">    

<%= link_to "Add", new_good_path, class: "btn btn-primary" %>
</div>
<div class= "col-sm-1">    

<%= link_to "Back", root_path,  class: "btn btn-warning" %>
</div>
</div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Properties</th>
     </tr>
  </thead>
  <tbody>
 <% @all_goods.each do |gd|%>
     <tr></tr>
      <th scope="row">1</th>
      <td><%= gd.id %></td>
      <td><%= gd.name.to_s %></td>
      <td><%= gd.properties %></td>
    </tr>
    <%end%>
  </tbody>
</table>